<div class="container-product">
  <form [formGroup]="ionicForm" (ngSubmit)="guardarProduct()" #form="ngForm">
    <app-custom-input
      label="Producto"
      name="nombre"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="Producto XX"    
    ></app-custom-input>
    <app-custom-input
      label="Direccion"
      name="direccion"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="Calle Sucre Nro 33 Casa Rosada"    
    ></app-custom-input>
    <app-custom-input
      label="Marca"
      name="marca"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="XXXXXXX"    
    ></app-custom-input>
    <app-custom-input
      label="Norma"
      name="norma"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="XXXXXXX"    
    ></app-custom-input>
    <app-custom-input
      label="Sello"
      name="sello"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="PAIS"
      name="pais"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="Departamento"
      name="departamento"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="Ciudad"
      name="ciudad"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="La Paz"    
    ></app-custom-input>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Confirmar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  <form [formGroup]="ionicForm" (ngSubmit)="guardarProduct()" #form="ngForm">
    <app-custom-input
      label="Producto"
      name="nombre"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="Producto XX"    
    ></app-custom-input>
    <app-custom-input
      label="Direccion"
      name="direccion"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="Calle Sucre Nro 33 Casa Rosada"    
    ></app-custom-input>
    <app-custom-input
      label="Marca"
      name="marca"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="XXXXXXX"    
    ></app-custom-input>
    <app-custom-input
      label="Norma"
      name="norma"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="XXXXXXX"    
    ></app-custom-input>
    <app-custom-input
      label="Sello"
      name="sello"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="PAIS"
      name="pais"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="Departamento"
      name="departamento"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="1"    
    ></app-custom-input>
    <app-custom-input
      label="Ciudad"
      name="ciudad"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      defaultValue="La Paz"    
    ></app-custom-input>
  
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block"
          >Confirmar</ion-button
        >
      </ion-col>
    </ion-row>
  </form>
  
</div>
