<div class="container-product">
  <form [formGroup]="ionicForm" (ngSubmit)="guardarProduct()" #form="ngForm">
    <app-custom-input
      label="Nombre del Producto"
      name="nombre"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      [defaultValue]="pradireccionespaproducto.nombre"
    ></app-custom-input>
    <app-custom-input
      label="Direccion"
      name="direccion"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      [defaultValue]="pradireccionespaproducto.direccion"
    ></app-custom-input>
    <app-custom-input
      label="Marca"
      name="marca"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      [defaultValue]="pradireccionespaproducto.marca"
    ></app-custom-input>
    <ion-item (click)="mostrarBuscadorNorma()">
      <ion-label> Norma : {{ pradireccionespaproducto.norma }} </ion-label>
    </ion-item>    
    <app-buscar-norma
      (selectNorma)="cambiarNorma($event)"
      *ngIf="showBuscadorNormas"
    ></app-buscar-norma>
    <app-custom-input
      label="Sello"
      name="sello"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      [defaultValue]="pradireccionespaproducto.sello"
    ></app-custom-input>
    <app-custom-input
      label="PAIS"
      name="pais"
      type="text"
      [formGruop]="ionicForm"
      readonly="true"
      [form]="form"
      [defaultValue]="pradireccionespaproducto.pais"
    ></app-custom-input>
    <app-custom-input
      label="Departamento"
      name="estado"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      readonly="true"
      [defaultValue]="pradireccionespaproducto.estado"
    ></app-custom-input>
    <app-custom-input
      label="Ciudad"
      name="ciudad"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      readonly="true"
      [defaultValue]="pradireccionespaproducto.ciudad"
    ></app-custom-input>
    <section>
      <ion-button size="small" type="submit">Guardar</ion-button>
      <ion-button size="small" color="secondary" (click)="cancelar()">Cancelar</ion-button>
    </section>
  </form>
</div>
