<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Código de Ciudad"
      animated="true"
      (ionChange)="buscarCiudad($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-select
      interface="alert"
      placeholder="Ciudad"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarCiudad($event)"
      [value]="currentCiudad"
    >
      <ion-select-option
        *ngFor="let norma of listaCiudades"
        [value]="norma"
        class="cargo-select"
        >{{ norma.idCiudad }} - {{ norma.nomCiudad }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
