<div [formGroup]="formGruop">
  <ion-item lines="full">
    <ion-label position="floating">{{ label }}</ion-label>
    <ion-input class="margin-top"     
      *ngIf="type != 'datetime'"
      [formControlName]="name"
      [type]="type"      
    ></ion-input>
    <ion-datetime class="margin-top"     
      [formControlName]="name"
      [pickerOptions]="customPickerOption"
      *ngIf="type === 'datetime'"
      displayFormat="DD/MM/YYYY"
    ></ion-datetime>
  </ion-item>
  <div *ngIf="Validations">
    <div *ngFor="let validation of Validations">
      <app-message-error
        [error]="validation.message"
        *ngIf="form.submitted && ExistsError(validation.validator)"
      >
      </app-message-error>
    </div>
  </div>
</div>
