<div [formGroup]="formGruop">
  <ion-item lines="full">
    <ion-label position="floating">{{ label }}</ion-label>
    <ion-input
      class="margin-top"
      *ngIf="type !== 'datetime'"
      [formControlName]="name"
      [type]="type"
      [readonly]="readonly"
      (keyup.enter)="eventKeyEnter($event)"
    ></ion-input>
    <ion-datetime
      class="margin-top"
      *ngIf="type === 'datetime'"
      [presentation]="formatDate"
      locale="es-BO"
      (ionChange)="selectionarFecha($event)"
    ></ion-datetime>
  </ion-item>
  <div *ngIf="Validations">
    <div *ngFor="let validation of Validations">
      <app-message-error
        [error]="validation.message"
        *ngIf="form.submitted && ExistsError(validation.validator)"
      >
      </app-message-error>
    </div>
  </div>
</div>
