<ion-header translucent>
  <ion-toolbar>
    <ion-radio-group [(ngModel)]="tipoNorma">
      <ion-item>
        <ion-label>Nacional</ion-label>
        <ion-radio slot="start" color="success" value="nacional"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Internacional</ion-label>
        <ion-radio slot="start" color="success" value="internacional"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-searchbar
      placeholder="Código de Norma"
      animated="true"
      (ionChange)="buscar($event)"
    ></ion-searchbar>
  </ion-toolbar>  
</ion-header>
<ion-list>
  <ion-item>
    <ion-select
      interface="alert"
      placeholder="Norma"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarNorma($event)"
      [value]="currentNorma"
    >
      <ion-select-option
        *ngFor="let norma of listaNormas"
        [value]="norma"
        class="cargo-select"
        >{{ norma.codigoNorma }} - {{ norma.nombreNorma }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>
