<div class="container-product">
  <form
    [formGroup]="ionicFormAdp"
    (ngSubmit)="guardarAreaDePreocupacion()"
    #form="ngForm"
  >
    <app-custom-input
      label="Area"
      name="area"
      type="text"
      [formGruop]="ionicFormAdp"
      [form]="form"
      [defaultValue]="currentAdp.area"
    ></app-custom-input>

    <ion-item>
      <ion-label position="floating">Descripción</ion-label>
      <ion-textarea
        clearOnEdit="true"
        rows="10"
        cols="20"
        [value]="currentAdp.descripcion"
        (ionChange)="valorDescripcion($event)"
      ></ion-textarea>
    </ion-item>

    <section>
      <ion-button size="small" type="submit">Guardar</ion-button>
      <ion-button size="small" color="secondary" (click)="cancelarAreaDePreocupacion()"
        >Cancelar</ion-button
      >
    </section>
  </form>
</div>
