<form [formGroup]="ionicForm" (ngSubmit)="guardarCiclo()" #form="ngForm">
  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <app-custom-input
          label="Años"
          name="anios"
          type="text"
          [formGruop]="ionicForm"
          [form]="form"
          defaultValue="La Paz"
        ></app-custom-input>
      </ion-col>
      <ion-col size="4">
        <app-custom-input
          label="Etapa"
          name="etapa"
          type="text"
          [formGruop]="ionicForm"
          [form]="form"
          defaultValue="La Paz"
        ></app-custom-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-buttons collapse="true">
        <ion-button type="submit" color="success"> Aceptar </ion-button>
        <ion-button type="button" color="danger" (click)="cancelar()"
          >Cancelar</ion-button
        >
      </ion-buttons>
    </ion-row>
  </ion-grid>
</form>
