<ion-list>
  <ion-item>
    <ion-button
      size="small"
      fill="outline"
      color="success"
      (click)="guardarMuestreo()">
      <ion-icon slot="start" name="caret-up-outline"></ion-icon>
      Guardar
    </ion-button>
  </ion-item>
  <ion-list-header lines="full">
    <ion-text color="primary">
      <h3>REGISTRO DE PLAN DE MUESTREO</h3>
    </ion-text>
  </ion-list-header>
  <ion-item>
    <ion-textarea [(ngModel)]="planMuestreo.contenido" rows="20"></ion-textarea>
  </ion-item>
  <ion-list-header lines="full">
    <ion-text color="primary">
      <h3>DOCUMENTACION DE REFERENCIA</h3>
    </ion-text>
  </ion-list-header>
  <ion-item>
    <ion-textarea [(ngModel)]="DocumentacionReferencia.contenido"
      rows="10"></ion-textarea>
  </ion-item>
</ion-list>
