<ion-list>
  <ion-item>
    <ion-select
      interface="alert"
      placeholder="Organismo"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarOrganismo($event)"
      [value]="currentOrganismo"
    >
      <ion-select-option
        *ngFor="let organismo of listaOrganismos"
        [value]="organismo"
        class="cargo-select"        
        >{{ organismo.descripcion }}
      </ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>