<div class="container-product-list">
  <ion-item color="medium" color="title-small" (click)="toggle()">
    <ion-icon name="menu" slot="start"></ion-icon>
    <ion-label> PRODUCTOS / NORMAS / DIRECCIONES</ion-label>
  </ion-item>
  <div *ngIf="display">
    <ion-list *ngIf="mode == 'LIST'">
      <ion-item>
        <ion-label position="stacked">
          Nombre del cliente para el Certificado
        </ion-label>
        <ion-textarea [(ngModel)]="nombreOrganizacion"></ion-textarea>
      </ion-item>
      <ion-list-header class="title-normas">
        <ion-item>
          <ion-icon
            name="add-circle"
            slot="end"
            (click)="adicionar()"
            class="big-icon"
          ></ion-icon>
          Productos
        </ion-item>
      </ion-list-header>
      <ion-item *ngFor="let product of productList">
        <ion-icon
          name="pencil-sharp"
          slot="start"
          (click)="editar(product, i)"
          class="big-icon"
        ></ion-icon>
        <ion-icon
          name="trash"
          slot="start"
          (click)="eliminar(i)"
          class="big-icon"
        ></ion-icon>
        <div class="norma-block">
          <h2>
            Nombre: {{ product.nombre }} [Marca: {{ product.marca }}] [Norma:
            {{ product.norma }}]
          </h2>
          <p>
            Dirección <span class="sub-title">{{ product.direccion }}</span>
          </p>
          <p>
            Sello {{ product.sello }} | Pais: {{ product.pais }} | Departamento:
            {{ product.departamento }} | Ciudad: {{ product.ciudad }}
          </p>
          <p class="detail-paragraph">
            Fecha Emision Cert. {{ product.fechaEmisionPrimerCertificado }} |
            Fecha Vencimiento Cert.
            {{ product.fechaVencimientoUltimoCertificado }} | Nro. Cert.
            {{ product.numeroDeCertificacion }}
          </p>
        </div>
      </ion-item>
    </ion-list>
    <app-product-detail *ngIf="mode == 'EDIT'" [pradireccionespaproducto]="currentProduct" (guardarProductEmitter)="guardarProducto($event)"></app-product-detail>
  </div>
</div>
