 <ion-card *ngIf="currentPlanAuditoriaDTO &&
    currentPlanAuditoriaDTO.cliente">
    <ion-card-header color="primary">
        <ion-card-subtitle>ID CLIENTE:
            {{ currentPlanAuditoriaDTO.cliente["idCliente"] }}</ion-card-subtitle>
        <ion-item color="primary">
            <ion-icon color="light" name="server-outline" slot="start"></ion-icon>
            <ion-label>CLIENTE:
                {{ currentPlanAuditoriaDTO.cliente["nombreRazon"] }}</ion-label>
        </ion-item>
    </ion-card-header>
    <ion-card-content class="ion-content-small-font">
        <ion-row>
            <ion-col size="6" size-lg="6" size-md="6" size-sm="12"
                size-xs="12">
                <ion-card mode="ios">
                    <ion-item color="medium" color="title-small">
                        <ion-icon name="person" slot="start"></ion-icon>
                        <ion-label>DATOS DE DESIGNACION</ion-label>
                    </ion-item>
                    <ion-card-content class="ion-content-small-font">
                        <ion-list>
                            <ion-item class="ion-no-padding small-item">
                                Código del servicio:
                                <ion-label>
                                    {{currentPlanAuditoriaDTO.designacion.codigoServicio}}
                                </ion-label>
                            </ion-item>
                            <ion-item class="ion-no-padding small-item">
                                Tipo de Auditoría:
                                <ion-label>
                                    {{currentPlanAuditoriaDTO.designacion.tipoAuditroria}}
                                </ion-label>
                            </ion-item>
                            <ion-item class="ion-no-padding small-item">
                                Fecha de Auditoría:
                                <ion-label>
                                    {{currentPlanAuditoriaDTO.designacion.fechaAuditoria}}
                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col size="6" size-lg="6" size-md="6"
                size-sm="12" size-xs="12">
                <app-ciclo-participante allowEdit="false"
                    *ngIf="currentPlanAuditoriaDTO"
                    [currentPracicloparticipantes]="currentPlanAuditoriaDTO.pracicloparticipante"></app-ciclo-participante>
            </ion-col>
        </ion-row>

        <app-tcp-list-products
            [productList]="currentPlanAuditoriaDTO.pradireccionespaproducto"
            [addCronograma]="true" [allowDelete]="false"
            *ngIf="mode === 'TCP'"
            [listaParticipantes]="listaParticipantes"
            (guardarCronogramaEmitter)="guardarCronograma($event)"
            (eliminarCronogramaEmitter)="eliminarCronograma($event)"></app-tcp-list-products>
        <app-tcs-list-systems
            [direccionesSistema]="currentPlanAuditoriaDTO.pradireccionespasistema"
            [normasSistema]="currentPlanAuditoriaDTO.praciclonormassistema"
            [nombreOrganizacion]="currentPlanAuditoriaDTO.nombreClienteCertificado"
            *ngIf="mode === 'TCS'" [allowHorario]="true"
            [addCronograma]="true" [allowDelete]="false"
            [isAuditor]="true"
            [listaParticipantes]="listaParticipantes"
            (guardarCronogramaEmitter)="guardarCronograma($event)"
            (eliminarCronogramaEmitter)="eliminarCronograma($event)"></app-tcs-list-systems>
    </ion-card-content>
</ion-card>
