<ion-card mode="ios" *ngIf="currentPraciclocronogramas">
  <ion-item color="medium" color="title-small">
    <ion-icon name="time" slot="start"></ion-icon>
    <ion-label>CRONOGRAMA</ion-label>
  </ion-item>
  <ion-card-content class="ion-content-small-font">
    <div class="item-cronograma">
      <span class="label-cronograma">CANTIDAD DE DIAS TOTAL: </span>
      <span class="data-cronograma" class="box-click edit-item" (click)="mostrarDiasCronograma($event)">
        {{ currentPraciclocronogramas.cantidadDeDiasTotal }}
      </span>
    </div>
    <div class="item-cronograma">
      <span class="label-cronograma">MES PROGRAMADO:</span>
      <span (click)="mostrarMesesProgramado($event)" class="box-click edit-item">
        {{ currentPraciclocronogramas.mesProgramado | date: "MM/yyyy" }}
      </span>
    </div>
    <div class="item-cronograma">
      <span class="label-cronograma">MES REPROGRAMADO:</span>
      <ion-label (click)="mostrarMesesReprogamado($event)" class="box-click edit-item">
        {{ currentPraciclocronogramas.mesReprogramado | date: "MM/yyyy" }}
      </ion-label>
    </div>
    <div class="item-cronograma">
      <span class="label-cronograma">FECHA DE INICIO DE EJECUCIÓN AUDITORÍA:</span>
      <ion-label (click)="mostrarFechaEjecucion($event)" class="box-click edit-item">
        {{
          currentPraciclocronogramas.fechaInicioDeEjecucionDeAuditoria
            | date: "dd/MM/yyyy"
        }}
      </ion-label>
    </div>
    <div class="item-cronograma">
      <span class="label-cronograma">FECHA DE FIN DE EJECUCIÓN AUDITORÍA:</span>
      <ion-label (click)="mostrarFechaFin($event)" class="box-click edit-item">
        {{
          currentPraciclocronogramas.fechaDeFinDeEjecucionAuditoria
            | date: "dd/MM/yyyy"
        }}
      </ion-label>
    </div>
    <div class="item-cronograma">
      <span class="label-cronograma">ESTADO:</span>
      <ion-label class="box-click">
        {{ currentPraciclocronogramas.estado }}
      </ion-label>
    </div>

  </ion-card-content>
</ion-card>
