<div class="container-product">
  <form
    [formGroup]="ionicFormHallazgo"
    (ngSubmit)="guardarHallazgo()"
    #form="ngForm"
  >
    <ion-select
      interface="alert"
      placeholder="Tipo de hallazgo"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarTipo($event)"
      [value]="tipoObservacion"
    >
      <ion-select-option
        *ngFor="let tipo of ltiposObervacion"
        [value]="tipo"
        class="cargo-select"
      >
        {{ tipo.descripcion }}
      </ion-select-option>
    </ion-select>
    <app-custom-input
      label="Requisito"
      name="proceso"
      type="text"
      [formGruop]="ionicFormHallazgo"
      [form]="form"
      [defaultValue]="elahallazgo.proceso"
    ></app-custom-input>

    <app-custom-input
      label="Hallazgo"
      name="sitio"
      type="text"
      [formGruop]="ionicFormHallazgo"
      [form]="form"
      [defaultValue]="elahallazgo.sitio"
    ></app-custom-input>

    <!-- <ion-select
      interface="alert"
      placeholder="Normas"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarNorma($event)"
      [value]="elahallazgo.normas"
    >
      <ion-select-option
        *ngFor="let norma of lNormas"
        [value]="norma"
        class="cargo-select"
      >
        {{ norma }}
      </ion-select-option>
    </ion-select> -->

    <ion-item>
      <ion-label position="floating">Evidencias</ion-label>
      <ion-textarea
        clearOnEdit="true"
        rows="10"
        (ionChange)="valorHallazagos($event)"
        cols="20"        
        [value]="elahallazgo.hallazgo"
      ></ion-textarea>
    </ion-item>

    <section>
      <ion-button size="small" type="submit">Guardar</ion-button>
      <ion-button size="small" color="secondary" (click)="cancelarHallazo()"
        >Cancelar</ion-button
      >
    </section>
  </form>
</div>
