<div class="container-product">
  <form [formGroup]="ionicForm" (ngSubmit)="guardarNorma()" #form="ngForm">
    <ion-item (click)="mostrarBuscadorNorma()">
      <ion-label> Norma : {{ praciclonormassistema.norma }} </ion-label>
    </ion-item>
    <app-buscar-norma
      (selectNorma)="cambiarNorma($event)"
      *ngIf="showBuscadorNormas"
    ></app-buscar-norma>
    <app-custom-input
      label="Alcance"
      name="alcance"
      type="text"
      [formGruop]="ionicForm"
      [form]="form"
      [defaultValue]="praciclonormassistema.alcance"
    ></app-custom-input>
        <section>
      <ion-button size="small" type="submit">Guardar</ion-button>
      <ion-button size="small" (click)="cancelarNorma()" color="secondary">Cancelar</ion-button>
    </section>
  </form>
</div>
