<ion-header translucent>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Código de departamentos estados"
      animated="true"
      (ionChange)="buscarEstados($event)"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-list>
  <ion-item>
    <ion-select
      interface="alert"
      placeholder="Estados - Departamentos"
      class="cargo-select"
      okText="Ok"
      cancelText="Cancelar"
      (ionChange)="seleccionarEstados($event)"
      [value]="currentCiudad"
    >
      <ion-select-option
        *ngFor="let norma of listaEstados"
        [value]="norma"
        class="cargo-select"
        >{{ norma.idEstado }} - {{ norma.estNombre }}
      </ion-select-option>
    </ion-select>
  </ion-item>
  
</ion-list>