<ion-list>
  <ion-item>
    <ion-button
      size="small"
      fill="outline"
      color="success"
      (click)="guardarContenido()"    >
      <ion-icon slot="start" name="caret-up-outline"></ion-icon>
      Guardar
    </ion-button>
  </ion-item>
  <div *ngFor="let subtitulo of listSubtitulos; let i = index">
    <ion-list-header lines="full">
      <ion-text color="primary">
        <h3>{{ i + 1 }}. {{ subtitulo.titulo }}</h3>
      </ion-text>
    </ion-list-header>
    <ion-item *ngFor="let contenido of ListByCategoria(subtitulo.nemotico)">
      <ion-label position="floating" color="secondary">{{
        contenido.label
      }}</ion-label>
      <ion-textarea [(ngModel)]="contenido.contenido" rows="4"></ion-textarea>
      <ion-checkbox slot="end" [(ngModel)]="contenido['select']"></ion-checkbox>
    </ion-item>
  </div>
</ion-list>
