<ion-list *ngIf="mode === 'LIST'">
  <ion-list-header lines="full">
    <ion-item>
      <ion-icon
        name="add-circle"
        slot="start"
        (click)="addCronograma()"
        class="big-icon"
      ></ion-icon>
      <ion-text color="secondary"> Cronograma </ion-text>
    </ion-item>
  </ion-list-header>
  <ion-item *ngFor="let cronograma of filtrarCronogramaPorLLaves(); let i = index">
    <ion-icon
      name="pencil-sharp"
      slot="start"
      (click)="editarCronograma(i)"
      class="big-icon"
    ></ion-icon>
    <ion-icon
      name="trash"
      slot="start"
      (click)="eliminarCronograma(i)"
      class="big-icon"
    ></ion-icon>
    <div class="row-cronogama">
      Fecha:
      <span class="sub-title-horario">{{ cronograma.fechaInicio }}</span> |
      Hora: <span class="sub-title-horario">{{ cronograma.horario }}</span>
      <br />
      Requisito:
      <span class="paragraph-horario">{{ cronograma.requisitosEsquema }}</span>
      Responsable:
      <span class="paragraph-horario">{{
        cronograma.personaEntrevistadaCargo
      }}</span>
      Proceso:
      <span class="paragraph-horario">{{ cronograma.procesoArea }}</span>
      Equipo:
      <span class="paragraph-horario">{{ cronograma.auditor }}</span>
    </div>
  </ion-item>
</ion-list>
<app-ela-cronograma
  *ngIf="mode === 'EDIT'"
  [currentElacronogama]="currentCrongrama"
  [listaParticipantes]="listaParticipantes"
  (guardarCronogramaEmitter)="guardarCronograma($event)"
  (cancelarCronogramaEmitter)="cancelarCronograma()"
></app-ela-cronograma>
