.sub-title-horario {
  font-size: 14px;
  font-family: sans-serif;
}
.paragraph-horario {
  font-style: italic;
  font-size: 13px;
  color: rgb(5, 2, 46);
  display: block;
  padding: 1px;
}
.row-cronogama {
  width: 100%;
  background-color: rgb(245, 214, 214);
  padding: 3px;
  margin: 2px;
}
