.error-message{
    color: rgb(252, 252, 252);
}
.container-error{
    background-color: rgba(221, 19, 19, 0.953) !important;
    display: block;
    padding-left: 2em;    
    padding-top: 2px;
    padding-bottom: 2px;
}
