<ion-list *ngIf="mode === 'LIST'">
  <ion-list-header class="title-normas">
    <ion-item>
      <ion-icon
        name="add-circle"
        slot="end"
        (click)="adicionarAdp()"
        class="big-icon"
      ></ion-icon>
      Registro Areas de Preocupación
    </ion-item>
  </ion-list-header>
  <ion-item *ngFor="let adp of listaAdp; let i = index">
    <ion-icon
      name="pencil-sharp"
      slot="start"
      (click)="editarAdp(i)"
      class="big-icon"
    ></ion-icon>
    <ion-icon
      name="trash"
      slot="start"
      (click)="eliminarAdp(i)"
      class="big-icon"
    ></ion-icon>
    <div class="norma-block">
      <h2>Area: {{ adp.area }}</h2>
      <p>
        Descripción:
        <span class="sub-title">{{ adp.descripcion }}</span>
      </p>
      <p class="detail-paragraph">
        Fecha {{adp.fecha}} | Auditor: {{adp.usuario}}
      </p>
    </div>
  </ion-item>
</ion-list>
<app-ela-edit-areapreocupacion
  *ngIf="mode === 'EDIT'"
  (guardarAdpEmitter)="guardarAreaDePreocupacion($event)"
  (cancelarAdpEmitter)="cancelarAreaDePreocupacion($event)"
  [currentAdp]="currentAdp"
></app-ela-edit-areapreocupacion>
