<div class="container-product-list">
  <ion-item color="medium" color="title-small" (click)="toggle()">
    <ion-icon name="menu" slot="start"></ion-icon>
    <ion-label>ALCANCE / NORMAS / DIRECCIONES</ion-label>
  </ion-item>
  <div *ngIf="display">
    <ion-list *ngIf="mode === 'list'">
      <ion-item>
        <ion-label position="stacked">
          Nombre del cliente para el Certificado
        </ion-label>
        <ion-textarea [(ngModel)]="nombreOrganizacion"></ion-textarea>
      </ion-item>
      <ion-list-header class="title-normas">
        <ion-item>
          <ion-icon
            name="add-circle"
            slot="end"
            (click)="adicionarNorma(item, i)"
            class="big-icon"
          ></ion-icon>
          Normas y Alcances
        </ion-item>
        <ion-item>
          <ion-select
            interface="alert"
            placeholder="Cambios"
            class="cargo-select"
            okText="Ok"
            cancelText="Cancelar"
            [value]="currentNorma"
          >
            <ion-select-option
              *ngFor="
                let data of ['amplicacion redaccion alcance', 'reduccion redaccion alcance', 'N/A']
              "
              [value]="norma"
              class="cargo-select"
              >{{ data }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list-header>
      <ion-item *ngFor="let norma of normasSistema; let i = index">
        <ion-icon
          name="pencil-sharp"
          slot="start"
          (click)="editarNorma(norma, i)"
          class="big-icon"
        ></ion-icon>
        <ion-icon
          name="trash"
          slot="start"
          (click)="eliminarNorma(i)"
          class="big-icon"
        ></ion-icon>
        <div class="norma-block">
          <h2>Norma: {{ norma.norma }}</h2>
          <p>
            Alcance: <span class="sub-title">{{ norma.alcance }}</span>
          </p>
          <p class="detail-paragraph">
            Fecha Emision Cert. {{ norma.fechaEmisionPrimerCertificado }} |
            Fecha Vencimiento Cert.
            {{ norma.fechaVencimientoUltimoCertificado }} | Nro. Cert.
            {{ norma.numeroDeCertificacion }}
          </p>
        </div>
      </ion-item>
      <ion-list-header class="title-normas">
        <ion-item>
          <ion-icon
            name="add-circle"
            slot="end"
            (click)="adicionarDireccion(item, i)"
            class="big-icon"
          ></ion-icon>
          Programación de direcciones
        </ion-item>
        <ion-select
          interface="alert"
          placeholder="Cambios"
          class="cargo-select"
          okText="Ok"
          cancelText="Cancelar"
          [value]="currentNorma"
        >
          <ion-select-option
            *ngFor="
              let data of ['Ampliacion Sitios', 'Reduccion Sitios', 'N/A']
            "
            [value]="norma"
            class="cargo-select"
            >{{ data }}
          </ion-select-option>
        </ion-select>
      </ion-list-header>
      <ion-item *ngFor="let direccion of direccionesSistema; let i = index">
        <ion-icon
          name="pencil-sharp"
          slot="start"
          (click)="editarDireccion(direccion, i)"
          class="big-icon"
        ></ion-icon>
        <ion-icon
          name="trash"
          slot="start"
          (click)="eliminarDireccion(i)"
          class="big-icon"
          *ngIf="allowDelete"
        ></ion-icon>
        <div class="direccion-block">
          <!-- <h2>{{ direccion.nombre }} - Diás Insitu: {{ direccion.dias }}</h2> -->
          <h2>Diás Insitu: {{ direccion.dias }}</h2>
          <p>
            Dirección:
            <span class="sub-title">{{ direccion.direccion }}</span>
          </p>
          <!-- <p class="detail-paragraph">
            Pais: {{ direccion.pais }} | Departamento:
            {{ direccion.departamento }} | Ciudad: {{ direccion.ciudad }}
          </p> -->
          <div *ngIf="allowHorario === true" class="horario-block">
            <p *ngFor="let a of [1, 1, 1, 1]">
              <ion-icon
                name="pencil-sharp"
                slot="start"
                (click)="editarHorario()"
                class="big-icon"
              ></ion-icon>
              Fecha: <span class="sub-title-horario">03/03/2021</span> | Hora:
              <span class="sub-title-horario">15:00</span> | Requisito:
              <span class="sub-title-horario"
                >Se debe presentar los diagramas de proceso
              </span>
              | Equipo:
              <span class="sub-title-horario">
                Auditos lider, auditor, auditor en formacion</span
              >
              | Responsable:
              <span class="sub-title-horario">Jaime Centellas</span>
            </p>
          </div>
        </div>
      </ion-item>
    </ion-list>
    <app-pra-direccion-sistema
      *ngIf="mode === 'EDIT'"
      [pradireccionespasistema]="currentdireccionesSistema"
      (guardarDireccionEmitter)="guardarDireccion($event)"
      (cancelarDireccionEmitter)="cancelarDireccion($event)"
    ></app-pra-direccion-sistema>
    <app-pra-edit-norma-sistema
      *ngIf="mode === 'EDIT1'"
      [praciclonormassistema]="currentnormaSistema"
      (guardarNormaEmitter)="guardarNorma($event)"
      (cancelarNormaEmitter)="cancelarNorma($event)"
    ></app-pra-edit-norma-sistema>
    <app-ela-cronograma
      *ngIf="mode === 'EDIT_HORARIO'"
      (guardarCronogramaEmitter)="guardarCronogramaEmitter($event)"
      (cancelarCronogramaEmitter)="cancelarCronogramaEmitter($event)"
    ></app-ela-cronograma>
  </div>
</div>
