<div class="container-product-list">
  <ion-item color="medium" color="title-small" (click)="toggle()">
    <ion-icon name="menu" slot="start"></ion-icon>
    <ion-label>ALCANCE / NORMAS / DIRECCIONES</ion-label>
  </ion-item>
  <div *ngIf="display">
    <ion-list *ngIf="mode === 'list'">
      <ion-item>
        <ion-label position="stacked">
          Nombre del cliente para el Certificado
        </ion-label>
        <ion-textarea [(ngModel)]="nombreOrganizacion"></ion-textarea>
      </ion-item>
      <ion-list-header class="title-normas">
        <ion-item>
          <ion-icon
            name="add-circle"
            slot="end"
            (click)="editar(item, i)"
            class="big-icon"
          ></ion-icon>
          Normas y Alcances
        </ion-item>
      </ion-list-header>
      <ion-item *ngFor="let norma of normasSistema">
        <ion-icon
          name="pencil-sharp"
          slot="start"
          (click)="editar(item, i)"
          class="big-icon"
        ></ion-icon>
        <ion-icon
          name="trash"
          slot="start"
          (click)="eliminar(i)"
          class="big-icon"
        ></ion-icon>
        <div class="norma-block">
          <h2>Norma: {{ norma.norma }}</h2>
          <p>
            Alcance: <span class="sub-title">{{ norma.alcance }}</span>
          </p>
          <p class="detail-paragraph">
            Fecha Emision Cert. {{ norma.fechaEmisionPrimerCertificado }} |
            Fecha Vencimiento Cert.
            {{ norma.fechaVencimientoUltimoCertificado }} | Nro. Cert.
            {{ norma.numeroDeCertificacion }}
          </p>
        </div>
      </ion-item>
      <ion-list-header class="title-normas">
        <ion-item>
          <ion-icon
            name="add-circle"
            slot="end"
            (click)="editar(item, i)"
            class="big-icon"
          ></ion-icon>
          Programación de direcciones
        </ion-item>
      </ion-list-header>
      <ion-item *ngFor="let direccion of direccionesSistema">
        <ion-icon
          name="pencil-sharp"
          slot="start"
          (click)="editar(direccion, i)"
          class="big-icon"
        ></ion-icon>
        <ion-icon
          name="trash"
          slot="start"
          (click)="eliminar(i)"
          class="big-icon"
        ></ion-icon>
        <div class="direccion-block">
          <h2>{{ direccion.nombre }} - Diás Insitu: {{ direccion.dias }}</h2>
          <p>
            Dirección:
            <span class="sub-title">{{ direccion.direccion }}</span>
          </p>
          <p class="detail-paragraph">
            Pais: {{ direccion.pais }} | Departamento:
            {{ direccion.departamento }} | Ciudad: {{ direccion.ciudad }}
          </p>
        </div>
      </ion-item>
    </ion-list>
    <app-pra-direccion-sistema
      *ngIf="mode === 'edit'"
      [pradireccionespasistema]="currentdireccionesSistema"
    ></app-pra-direccion-sistema>
  </div>
</div>
