<ion-toolbar>
  <ion-segment #segment1 (ionChange)="segmentChanged($event)" color="tertiary">
    <ion-segment-button value="plan_auditoria">
      <ion-label>Plan Auditoria</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list_hallazgo">
      <ion-label>Registro de Hallazgos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list_areas">
      <ion-label>Areas de Preocupacion</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list_contenido">
      <ion-label>Contenido</ion-label>
    </ion-segment-button>
    <ion-segment-button value="list_documentos">
      <ion-label>Documentación</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-toolbar>
<ion-content>
  <app-plan-auditoria
    *ngIf="select_component === 'plan_auditoria' && currentPlanAuditoriaDTO"
    [currentPlanAuditoriaDTO]="currentPlanAuditoriaDTO"
    (guardarCronogramaEmitter)="guardarCronograma($event)"
    (eliminarCronogramaEmitter) = "eliminarElmentCronograma($event)"
  ></app-plan-auditoria>

  <app-ela-registro-hallazgos
    *ngIf="select_component === 'list_hallazgo'"
    [listaHallazgos]="currentPlanAuditoriaDTO.elaauditorium.elahallazgos"
    [lNormas]="currentPlanAuditoriaDTO.normas"
    (guardarHallazgoEmitter)="guardarHallazgo($event)"    
  ></app-ela-registro-hallazgos>

  <app-ela-objetivos
    *ngIf="select_component === 'list_contenido'"
    [listContenido]="currentPlanAuditoriaDTO.elaauditorium.elacontenidoauditoria"
    (guardarContenidoEmitter)="guardarContenido($event)"
    [area]="area"
  >
  </app-ela-objetivos>

  <app-ela-registro-areapreocupacion
    *ngIf="select_component === 'list_areas'"
    [listaAdp]="currentPlanAuditoriaDTO.elaauditorium.elaadps"
    (guardarAdpEmitter)="guardarAdp($event)"  >
  </app-ela-registro-areapreocupacion>

  <app-param-documentos
    [area]="currentPlanAuditoriaDTO.area"
    [IdCiclo]="idCicloAuditoria"
    [proceso]="proceso"
    *ngIf="select_component === 'list_documentos'"
  >
  </app-param-documentos>
</ion-content>
